#notice, #error, #alert {
  padding: 5px 8px;
  margin: 10px 0;
}

#notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#error, #alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

body {
  height: 100%;
  width: 720px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #333;
  &:hover {
    color: #000;
  }
}
    
nav {
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style-type: none;
      display: inline-block;
      padding: 0 20px 0;
    }
  }
  padding-bottom: 20px;
}

header {
  text-align: center;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.02, rgb(55,55,55)),
    color-stop(0.04, rgb(0,0,0)),
    color-stop(0.06, rgb(99,0,99)),
    color-stop(1, rgb(255,0,255))
  );
  padding: 10px 0px 10px;
  margin: 0 0 10px;
  h1 {
    color: #fff;
    text-shadow: 0px 0px 10px #000;
    filter: dropshadow(color=#000, offx=0, offy=0);
  }
  em {
    color: #000;
    padding: 0 20px 0;
  }
}

footer {
  padding-top: 20px;
}

@import "pages.css.scss";
